[submodule "transcard-api"]
	path = transcard-api
	url = https://github.com/kleber-a/transcard_api.git
	branch = main
[submodule "transcard-frontend"]
	path = transcard-frontend
	url = https://github.com/kleber-a/transcard_front.git
	branch = main